@charset "UTF-8";

.form-general{
    width:100%;
}

.form-container{
    display:flex;
    flex-direction:column;
    gap:40px;
    width:50%;
    margin:50px auto;
    padding:50px;
}

.form-group{
    display:flex;
    flex-direction:column;
}

.form-group label{
    font-size:1.2em;
    margin-bottom:10px;
}

.form-group input, .form-group textarea, .form-group select{
    font-size:1.05em;
    border:solid 1px #ccc;
    border-radius:5px;
    padding:10px;
    transition:0.3s;
}
.form-group textarea{
    font-family:Arial, Helvetica, sans-serif;
}
.form-group input:focus, .form-group textarea:focus{
    border-color:grey;
}

.form-container button{
    font-size:1.1em;
    font-weight:bolder;
    background-color:#eeee29;
    width:200px;
    margin:auto;
    padding:10px;
    border-radius:10px;
    transition:0.3s;
    cursor:pointer;
}
.form-container button:hover{
    background-color:#d8d817;
    color:#fff;
}

.form-radio label{
    font-size:1.1em;
}

input[type="file"]{
    display:none;
}
#label-imagem{
    font-size:1.2em;
    font-weight:bolder;
    text-align:center;
    margin:auto;
    width:200px;
    display:block;
    cursor:pointer;
}