@charset "UTF-8";

.header-head{
    width:100%;
    padding:20px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

.header-searchbar{
    width:40%;
}
.header-searchbar form{
    position:relative;
}
.input-busca, .button-busca{
    height:40px;
    padding:10px;
}
.input-busca{
    width:90%;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    font-size:1.1em;
}
.button-busca{
    background-color:#eeee29;
    position:absolute;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    cursor:pointer;
    transition:0.3s;
    font-size:1.2em;
}
.button-busca:hover{
    background-color:#d8d817;
}

.header-icons{
    display:flex;
    justify-content:space-between;
    gap:20px;
}
.icon-header{
    display:flex;
    align-items:center;
    margin:5px 0;
    text-decoration:none;
    color:white;
    transition:0.3s;
}
.icon-header:hover{
    color:#eeee29;
}
.icon-header ion-icon{
    font-size:1.5em;
    margin:0 5px;
}
.icon-header span{
    font-size:1.2em;
    display:inline-block;
}


/* -------- Responsividade -------- */

@media(max-width:1100px){
    .icon-header span{
        display:none;
    }
}