@charset "UTF-8";

.navbar{
    width:100%;
    background-color:#1048ca;
    display:flex;
    padding:10px 5px;
    justify-content:space-evenly;
    position:sticky;
    top:0;
}
.navbar a{
    font-size:1.3em;
    text-decoration:none;
    color:white;
    transition:0.3s;
}
.navbar a:hover{
    color:#eeee29;
}